<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @document_state_rel.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @document_state_rel.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document_state_rel.description %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @document_state_rel.obs %>
</p>

<p>
  <strong>Document:</strong>
  <%= @document_state_rel.document_id %>
</p>

<p>
  <strong>Document state:</strong>
  <%= @document_state_rel.document_state_id %>
</p>

<%= link_to 'Edit', edit_document_state_rel_path(@document_state_rel) %> |
<%= link_to 'Back', document_state_rels_path %>
