<div class="content content-fixed">
      <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-30">
          <div>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="#">Documentos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalle</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row row-xs">
          <div class="col-lg-8">
            <div class="card">
              <div class="card-header d-sm-flex justify-content-between bd-b-0 pd-t-20 pd-b-0">
              </div>
              <div class="card-body">
              <h2>Documento: <%= @document.document_type.code%> - <%= @document.doc_code%></h2>
          <p>
              <strong>Proveedor:</strong>
              <%= Supplier.find(@document.supplier_id).name%>
          </p>
          <p>
              <strong>Usuario:</strong>
              <%= User.find(@document.user_id).name%>
          </p>
          <p>
              <strong>Fecha de Emisión:</strong>
              <%= @document.date_emission%>
          </p>
          <p>
              <strong>Fecha de Expiración:</strong>
              <%= @document.date_due%>
          </p>
          <p>
              <strong>Monto Total:</strong>
              <%= @document.total_amount%>
          </p>
          <p>
              <strong>Glosa:</strong>
              <%= @document.description%>
          </p>
          <p>
              <strong>Observaciones:</strong>
              <%= @document.obs%>
          </p>
              </div><!-- card-body -->
              <div class="card-footer pd-y-15 pd-x-20">
              <%= link_to 'Volver', { :action => :index }, :class => "btn btn-primary" %> 
              <%= link_to 'Editar', {:action => :edit, :id => @document.id }, :class => "btn btn-success" %>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-lg-4">
          <div class="card">
                    <div class="card-header pd-b-0 pd-x-20 bd-b-0">
                      <div class="d-sm-flex align-items-center justify-content-between">
                        <h6 class="mg-b-0">Seguimiento</h6>
                        <div class="d-flex tx-18">
                          <%= link_to '<i class="fas fa-plus"></i>'.html_safe , { :controller => :document_state_rels, :action => :new, document_id: @document.id }, :class => "link-03 lh-0" %> 
                        </div>
                      </div>
                    </div><!-- card-header -->
                    <div class="card-body pd-20">
                      <ul class="activity tx-13">
                      <% @document_states.each do |d| %>
                        <li class="activity-item">
                          <div class="<%= d.document_state.format %>">
                            <i class="<%= d.document_state.icon %>"></i>
                          </div>
                          <div class="activity-body">
                          <p class="mg-b-2"><strong><%= d.user.name %></strong> <%= d.name %></p>
                          <small class="tx-color-03"><%= d.description %> el <%= d.date.strftime("%m/%d/%Y a las %I:%M%p") %></small>
                          </div><!-- activity-body -->
                        </li><!-- activity-item -->
                      <% end %>
                      </ul><!-- activity -->
                    </div><!-- card-body -->
                  </div><!-- card -->
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- content -->